.task-verification-container {
    width: 100%;
    height: 100%;
    background-image: url("~src/assets/background-gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.back-button {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    transition: 3s;
}

.back-button:hover {
    background: linear-gradient(to right, rgba(170, 169, 169, 0.326), rgba(255,0,0,0));
    transition: 3s;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    width: 100%;
    height: 10%;
}

.logo {
    width: 4%;
    height: 90%;
    margin-top: 0.25%;
    margin-left: 0.25%;
    float: left;
    background-image: url("~src/assets/LOGO.png");
    background-size: contain;
    background-repeat: no-repeat;
}

hr.header-line {
    border: 5px solid darkslategray;
    width: 96%;
    height: 0%;
}

.background {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.files-container {
    background-color: white;
    width: 16%;
    height: 90%;

    margin-right: 1%;

    border-radius: 5%/1%;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.validate-job-container {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.validate-job-button {
    border-radius: 10px;
    height: 50%;
    width: 50%;
    background-color: #8710f7;
    color: white;
    font-size: 100%;
    transition: 0.3s;


    box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -moz-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52 0.7);
    -webkit-box-shadow: 0 1.5px 5px 0px rgb(52 52 52 / 70%);
    -o-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
    -ms-box-shadow: 0 1.5px 5px 0px rgba(52, 52, 52, 0.7);
}

.validate-job-button:hover {
    background-color: #84a0df;
    transform: scale(1.05, 1.05);
    transition: 0.3s;
}


.files-list-container {
    width: 100%;
    height: 80%;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.file-container {
    width: 20%;
    min-height: 9%;
    max-height: 9%;
    margin: 2%;
}

.validated-copy {
    width: 100%;
    height: 100%;
    border-radius: 12%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #ffffff;
}

.validated-copy:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.to-validate-copy {
    width: 100%;
    height: 100%;
    border-radius: 12%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #ffffff;
}

.to-validate-copy:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.high-precision-copy {
    width: 100%;
    height: 100%;
    border-radius: 12%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 247);
    color: #ffffff;
}

.high-precision-copy:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.disabled-copy {
    width: 100%;
    height: 100%;
    border-radius: 12%;
    border: 1px solid darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 116);
    color: #ffffff;
}

.chosen-copy {
    transform: scale(1.15, 1.15);
    border: 3px solid black;
}

.helper-container {
    width: 100%;
    height: 10%;

    border-top: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.helper-container>mat-icon {
    transform: scale(2, 2);
}

.helper-container>mat-icon:hover {
    transform: scale(2.2, 2.2);
    cursor: pointer;
}


.validation-container {
    background-color: white;
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    border-radius: 1%/1%;
    border: 2px solid black;

    box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 10px 0px rgb(0 0 0 / 70%);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.validation-container>p {
    color: gray;
    font-size: x-large;
}

.picture-container {
    height: 90%;
    width: 70%;
    margin-right: 5%;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cv {
    height: 100%;
    width: 100%;
}

.validation-check-container {
    height: 90%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check-list-container {
    width: 100%;
    height: 90%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sub-check-container {
    min-height: 10%;
    max-height: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 5%;
}

.value-input-div {
    width: 70%;
    height: 100%;
    margin-right: 15%;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;

    -moz-appearance: textfield;
}


.validate-container {
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.validate-button {
    width: 50%;
    height: 70%;

    border-radius: 24%/48%;
    border: 2px solid black;
    /*background-color: greenyellow;*/

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.green {
    background-color: greenyellow;
}
.blue {
    background-color: rgb(65, 65, 247);
}
.red {
    background-color: red;
}


.validate-button>mat-icon {
    transform: scale(1.5, 1.5);
}

.validate-button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    background-color: green;
}

.validate-button:hover>mat-icon {
    transform: scale(1.6, 1.6);
    color: #ffffff;
}


h3 {
    padding: 0px;
    margin: 0px;
}


#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(right, #2e59e9, #21d4fd);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page-count {
    position: absolute;
    top: 93.5%;
    left: 52%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* tkt ca work TRUST 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠈⠀⠀⠀⠀⠐⠺⣖⢄⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡏⢀⡆⠀⠀⠀⢋⣭⣽⡚⢮⣲⠆⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⡼⠀⠀⠀⠀⠈⠻⣅⣨⠇⠈⠀⠰⣀⣀⣀⡀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣟⢷⣶⠶⣃⢀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠈⠓⠚⢸⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⢀⡠⠀⡄⣀⠀⠀⠀⢻⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠐⠉⠀⠀⠙⠉⠀⠠⡶⣸⠁⠀⣠⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⡆⠀⠐⠒⠢⢤⣀⡰⠁⠇⠈⠘⢶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠠⣄⣉⣙⡉⠓⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⣀⣀⠀⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
    */
}

.back-button2 {
    position: absolute;
    top: 55%;
    left: 36.75%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 73%;
    width: 1%;
    transition: 3s;
    z-index: 2;
    /* tkt ca work TRUST 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠈⠀⠀⠀⠀⠐⠺⣖⢄⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡏⢀⡆⠀⠀⠀⢋⣭⣽⡚⢮⣲⠆⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⡼⠀⠀⠀⠀⠈⠻⣅⣨⠇⠈⠀⠰⣀⣀⣀⡀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣟⢷⣶⠶⣃⢀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠈⠓⠚⢸⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⢀⡠⠀⡄⣀⠀⠀⠀⢻⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠐⠉⠀⠀⠙⠉⠀⠠⡶⣸⠁⠀⣠⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⡆⠀⠐⠒⠢⢤⣀⡰⠁⠇⠈⠘⢶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠠⣄⣉⣙⡉⠓⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⣀⣀⠀⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
    */
}

.back-button3 {
    position: absolute;
    top: 55%;
    left: 68.20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 73%;
    width: 1%;
    transition: 3s;
    z-index: 2;
    /* tkt ca work TRUST 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠛⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠉⠻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠋⠈⠀⠀⠀⠀⠐⠺⣖⢄⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡏⢀⡆⠀⠀⠀⢋⣭⣽⡚⢮⣲⠆⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⡼⠀⠀⠀⠀⠈⠻⣅⣨⠇⠈⠀⠰⣀⣀⣀⡀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣟⢷⣶⠶⣃⢀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡅⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⠀⠈⠓⠚⢸⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⢀⡠⠀⡄⣀⠀⠀⠀⢻⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠐⠉⠀⠀⠙⠉⠀⠠⡶⣸⠁⠀⣠⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣦⡆⠀⠐⠒⠢⢤⣀⡰⠁⠇⠈⠘⢶⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠠⣄⣉⣙⡉⠓⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⣀⣀⠀⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
    */
}

.back-button2:hover {
    background: linear-gradient(to right, rgba(170, 169, 169, 0.326), rgba(255,0,0,0));
    transition: 3s;
}
.back-button3:hover {
    background: linear-gradient(to right, rgba(170, 169, 169, 0.326), rgba(255,0,0,0));
    transition: 3s;
}