<div class="tasks-history-container ">
    <div class="header">
        <div class="logo"></div>
        <hr class="header-line">
    </div>
    <div class="filter">
        <mat-form-field appearance="standard">
            <mat-label>Filtrer</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Rechercher une tâche" #input>
        </mat-form-field>
    </div>

    <div class="table">
        <div class="container_tasks mat-elevation-z8">
            <table class="container_elements" mat-table [dataSource]="dataSource" matSortActive="queued_time"
                matSortDirection="desc" matSort>

                <!-- Job Name Column -->
                <ng-container matColumnDef="job_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom de la tâche </th>
                    <td (click)="getTaskInfo(row)" class="job_name_css" mat-cell *matCellDef="let row"> {{row.job_name}}
                    </td>
                </ng-container>

                <!-- Template ID Column -->
                <ng-container matColumnDef="template_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du gabarit </th>
                    <td mat-cell *matCellDef="let row"> {{row.template_name}} </td>
                </ng-container>

                <!-- Queued Time Column -->
                <ng-container matColumnDef="queued_time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'ajout </th>
                    <td mat-cell *matCellDef="let row"> {{row.queued_time.toLocaleString()}} </td>
                </ng-container>

                <!-- Job Status Column -->
                <ng-container matColumnDef="job_status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut de la tâche </th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="row.job_status == 'ARCHIVED'">
                            Archivé
                            <span class="dot dot-gray"></span>
                        </div>
                        <div *ngIf="row.job_status == 'QUEUED'">
                            En attente
                            <span class="dot dot-orange"></span>
                        </div>
                        <div *ngIf="row.job_status == 'RUN'">
                            En traîtement
                            <span class="dot dot-yellow"></span>
                        </div>
                        <div *ngIf="row.job_status == 'VALIDATION'">
                            Prêt à la vérification
                            <span class="dot dot-green"></span>
                        </div>
                        <div *ngIf="row.job_status == 'VALIDATING'">
                            Finalisation en cours
                            <span class="dot dot-blue"></span>
                        </div>
                        <div *ngIf="row.job_status == 'ERROR'">
                            Erreur
                            <span class="dot dot-red"></span>
                        </div>
                    </td>
                </ng-container>

                <!-- Job Completion Column -->
                <ng-container matColumnDef="job_completion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Progression </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="circle-wrap">
                            <mat-progress-spinner class="example-margin" [color]="color" value="{{row.job_completion}}"
                                [diameter]="diameter">
                            </mat-progress-spinner>
                            <div style="position:relative; top: -31.25px; left: -3px; text-align: center;">
                                {{row.job_completion}}%</div>
                        </div>
                    </td>
                </ng-container>


                <!-- Job Estimation Column -->
                <ng-container matColumnDef="job_estimation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimation </th>
                    <td mat-cell *matCellDef="let row">
                        <span *ngIf="row.job_status === 'RUN' || row.job_status === 'VALIDATING'">{{row.job_estimation}}
                            sec</span>
                    </td>
                </ng-container>

                <!-- Job Deletion Column -->
                <ng-container matColumnDef="job_deletion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                    <td mat-cell *matCellDef="let row">
                        <button *ngIf="row.job_status == 'ARCHIVED' || row.job_status == 'ERROR'"
                            (click)="deleteJob(row.job_id)" mat-raised-button color="warn">Supprimer</button>
                        <button *ngIf="row.job_status != 'ARCHIVED' && row.job_status != 'ERROR'" mat-raised-button
                            disabled>Supprimer</button>
                    </td>
                </ng-container>

                <tr mat-header-row class="element-header-row" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 8]" aria-label="Select page of tasksList" #paginator></mat-paginator>
        </div>
    </div>
</div>
<button mat-button (click)="reroute()" class="back-button">
    <mat-icon>arrow_back_ios</mat-icon>
</button>